.pgHead{
  margin: 50px 0 0 100px !important;
}

.header.item {
  display: flex;
}

.header.item h1 {
  margin-left: 30px;
}

.active.item {
  cursor: default;
}

.search-bar.ui {
  width: 600px;
  margin: 0 auto !important;
  margin-top: 50px !important;
  padding-bottom: 50px !important;
}


.searchBtn {
  float: right;
}

#search-output{
  display:none;
}

/* Inventory Container v1 */
/* .container.segment {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
} */

#table-container{
  width:80%;
  margin:50px auto 20px;
  height:70%;
  overflow:auto;
}

.table {
  margin: 20px;
}

.qty{
  width:40px;
  text-align:center;
}

.itemPic {
  float: left;
}

/* Inventory Container v1 */

.container.segment {
  overflow-y: auto;
  max-height: 300px;
  width: 55% !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.quantity {
  width: 50px;
  text-align: right;
}

#checkout1 {
  float: right;
  padding: 5px;
  display: flex;
  position: fixed;
  right: -10%;
  bottom: -15%;
  align-items: flex-end;
  flex-direction: column;
  border: 2px solid black;
  margin: 20px 10% 100px 0px;
}

#checkout1 input, #checkout2 input {
  width: 100px;
  margin: 5px 0px 5px 10px;
  text-align: right;
}

.tax {
  width: 60px !important;
}

::placeholder {
  font-weight: bold;
  opacity: 1;

}
label {
  margin-right: 5px;
}
@media screen and (max-width: 800px) {
  #checkout2 {
    display: flex;
  }
  #checkout1 {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  #checkout1 {
    display: flex;
  }
  #checkout2 {
    display: none;
  }
}
